 @theme inline {
 	--animate-marquee-horizontal: marquee-horizontal var(--duration) infinite linear;
 	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 	--animate-rippling: rippling var(--duration, 0.6s) ease-out;
 	--animate-shine: shine-border var(--duration) infinite linear;
 }

 @keyframes marquee-horizontal {
 	from {
 		transform: translateX(0);
 	}

 	to {
 		transform: translateX(calc(-100% - var(--gap)));
 	}
 }

 @keyframes marquee-vertical {
 	from {
 		transform: translateY(0);
 	}

 	to {
 		transform: translateY(calc(-100% - var(--gap)));
 	}
 }

 @keyframes rippling {
	from {
 		opacity: 1;
 	}

 	to {
 		transform: scale(2);
 		opacity: 0;
 	}
 }

 @keyframes shine-border {
 	from {
 		background-position: 0% 0%;
 	}

 	50% {
 		background-position: 100% 100%;
 	}

 	to {
 		background-position: 0% 0%;
 	}
 }

 .g-container {
 	position: relative;
 	width: 100%;
 	height: 300px;
 	overflow: hidden;
 	transition: clip-path .3s linear;
 	clip-path: circle(20px at 40px 40px);
 	background: #fff;

 	&:hover {
 		clip-path: circle(100vw at 44px 44px);
 	}
 }